{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "顧客",
    "description" : "説明なし",
    "contact" : { },
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://r9dm8ltst7d1snc.ap.api-mocks.com",
    "description" : "これがAPIモックサーバーURLです。呼び出すと、APIの動作がシミュレーションされます。"
  }, {
    "url" : "http://localhost:8090"
  } ],
  "paths" : {
    "/customer/{customerid}" : {
      "parameters" : [ {
        "name" : "customerid",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "integer"
        },
        "example" : 1
      } ]
    },
    "/customer" : {
      "get" : {
        "summary" : "customer",
        "parameters" : [ {
          "name" : "customerid",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "integer"
          },
          "example" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "required" : [ "firstname", "id", "lastname" ],
                  "properties" : {
                    "id" : {
                      "type" : "string",
                      "example" : "1"
                    },
                    "firstname" : {
                      "type" : "string",
                      "example" : "taro"
                    },
                    "lastname" : {
                      "type" : "string",
                      "example" : "tanaka"
                    }
                  }
                },
                "example" : "{\n  \"id\":1,\n  \"firstname\":\"taro\",\n  \"lastname\":\"tanaka\"\n}"
              }
            }
          },
          "400" : {
            "description" : "Status 400"
          }
        }
      }
    }
  }
}